## L2Beat

In [ ]:
from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_l2beat import AdapterL2Beat

adapter_params = {
}
load_params = {
    'origin_keys' : None,
    #'origin_keys' : ['optimism','arbitrum'] # see all options in adapter_mapping.py 
}

# initialize adapter
ad = AdapterL2Beat(adapter_params, db_connector)
# extract
df= ad.extract(load_params)
# load
ad.load(df)

## DefiLlama

In [ ]:
from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_defillama import AdapterDefiLlama

adapter_params = {
}
load_params = {
    'origin_keys' : None,
    #'origin_keys' : ['ethereum'] # see all options in adapter_mapping.py
}

# initialize adapter
ad = AdapterDefiLlama(adapter_params, db_connector)
# extract
df = ad.extract(load_params)
# load
ad.load(df)

## Coingecko

run for projects / chains

In [ ]:
from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_coingecko import AdapterCoingecko

adapter_params = {
}
load_params = {
    'load_type' : 'project',
    'metric_keys' : ['price', 'volume', 'market_cap'],
    'origin_keys' : None,
    #'origin_keys' : ['aptos'], # see all options in adapter_mapping.py
    'days' : 'auto', # auto, max, or a number (as string)
    'vs_currencies' : ['usd', 'eth']
}

# initialize adapter
ad = AdapterCoingecko(adapter_params, db_connector)
# extract
df = ad.extract(load_params)
# load
ad.load(df)

and for imx tokens

In [ ]:
from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_coingecko import AdapterCoingecko

adapter_params = {
}
load_params = {
    'load_type' : 'imx_tokens'
}

# initialize adapter
ad = AdapterCoingecko(adapter_params, db_connector)
# extract
df = ad.extract(load_params)
# load
ad.load(df)

## Dune

In [ ]:
import os
from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_dune import AdapterDune

adapter_params = {
    'api_key' : os.getenv("DUNE_API")
}

load_params = {
    # 'query_names' : ['waa'], ## fundamentals, waa, stables_mcap
    # 'days' : 100,
    'query_names' : None,
    'days' : 'auto',
}

# initialize adapter
ad = AdapterDune(adapter_params, db_connector)
# extract
df = ad.extract(load_params)
# upload
ad.load(df)

## Flipside
sometimes some Flipside queries just get stuck -- gotta retrigger them

In [ ]:
import os
from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_flipside import AdapterFlipside

adapter_params = {
    'api_key' : os.getenv("FLIPSIDE_API")
}
load_params = {
    'origin_keys' : ['zksync_era'],
    'metric_keys' : ['stables_mcap'],
    'days' : 'auto',
    # 'origin_keys' : None,
    # 'metric_keys' : None,
    # 'days' : 'auto',
}

# initialize adapter
ad = AdapterFlipside(adapter_params, db_connector)
# extract
df = ad.extract(load_params)
# load
ad.load(df)

In [ ]:
## testing the new flipside api

from flipside import Flipside
flipside = Flipside("74c43ebc-3291-4953-8aeb-65640da7c852", "https://api-v2.flipsidecrypto.xyz")

sql = """
 select 
    BLOCK_NUMBER, BLOCK_TIMESTAMP, BLOCK_HASH, TX_HASH, NONCE, POSITION, ORIGIN_FUNCTION_SIGNATURE, FROM_ADDRESS, TO_ADDRESS, ETH_VALUE, TX_FEE, GAS_PRICE, GAS_LIMIT, 
    GAS_USED, L1_GAS_PRICE, L1_GAS_USED, L1_FEE_SCALAR, L1_SUBMISSION_BATCH_INDEX, L1_SUBMISSION_TX_HASH, L1_STATE_ROOT_BATCH_INDEX, 
    L1_STATE_ROOT_TX_HASH, CUMULATIVE_GAS_USED, INPUT_DATA, STATUS
from optimism.core.fact_transactions
where block_number >= 104130000
and block_number < 104135000
order by block_number asc
"""

# Run the query against Flipside's query engine and await the results
query_result_set = flipside.query(sql)

## Zettablock

In [ ]:
import os
from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_zettablock import AdapterZettablock

adapter_params = {
    'api_key' : os.getenv("ZETTABLOCK_API")
}
load_params = {
    #'origin_keys' : ['optimism'],
    'metric_keys' : ['txcosts_median_usd'],
    'days' : 180,
    'origin_keys' : None,
    # 'metric_keys' : None,
    # 'days' : 'auto',
}

# initialize adapter
ad = AdapterZettablock(adapter_params, db_connector)
# extract
df = ad.extract(load_params)
# load
ad.load(df)

## ZettaBlock raw data load

In [ ]:
import os
from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_raw_zettablock import AdapterZettaBlockRaw

adapter_params = {
    'api_key' : os.getenv("ZETTABLOCK_API")
}

load_params = {
    'keys' : ['polygon_zkevm_tx', 'zksync_era_tx'],
    #'keys' : ['arbitrum_tx'],
    'block_start' : 'auto', ## 'auto' or a block number as int
}

# initialize adapter
ad = AdapterZettaBlockRaw(adapter_params, db_connector)
# extract
df = ad.extract_raw(load_params)

## Chainbase raw

In [ ]:
import os
from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_raw_chainbase import AdapterChainbaseRaw

adapter_params = {
    'api_key' : os.getenv("CHAINBASE_API")
}

load_params = {
    'keys' : ['arbitrum_tx'],
    #'block_start' : 'auto', ## 'auto' or a block number as int
    'block_start' : 96528664,
}

# initialize adapter
ad = AdapterChainbaseRaw(adapter_params, db_connector)
# extract
ad.extract_raw(load_params)

## IMX raw data load

In [ ]:
## implement orchestration?

from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_raw_imx import AdapterRawImx

adapter_params = {
    'load_types' : ['withdrawals', 'deposits', 'trades', 'orders_filled', 'transfers', 'mints'],
    'forced_refresh' : 'no',

    #'load_types' : ['orders_filled'],
    #'forced_refresh' : '2023-04-01T00:00:00.000000Z',
}

# initialize adapter
ad = AdapterRawImx(adapter_params, db_connector)
# extract raw (and load raw in case of IMX)
df_raw = ad.extract_raw()

## Flipside raw data load

In [ ]:
import os
from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_raw_flipside import AdapterFlipsideRaw

adapter_params = {
    'api_key' : os.getenv("FLIPSIDE_API")
}

load_params = {
    'keys' : ['arbitrum_tx', 'optimism_tx'],
    'block_start' : 'auto',
}

# initialize adapter
ad = AdapterFlipsideRaw(adapter_params, db_connector)
# extract
df = ad.extract_raw(load_params)

## SQL aggregation

In [ ]:
## Loads currently IMX txcount, daa, fees_paid
## also loads user_base_weekly

from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_sql import AdapterSQL

adapter_params = {
}

load_params = {
    'load_type' : 'metrics', ## usd_to_eth or metrics
    
    #'days' : 'auto', ## days as int our 'auto
    'origin_keys' : None, ## origin_keys as list or None
    #'metric_keys' : None, ## metric_keys as list or None

    'days' : '28', ## days as int our 'auto
    #'origin_keys' : ['imx'], ## origin_keys as list or None
    'metric_keys' : ['user_base_weekly'], ## metric_keys as list or None
}

# initialize adapter
ad = AdapterSQL(adapter_params, db_connector)

# extract
df = ad.extract(load_params)
# # load
ad.load(df)

In [ ]:
df.origin_key.unique()

In [ ]:
from src.db_connector import DbConnector
db_connector = DbConnector()
from src.adapters.adapter_sql import AdapterSQL

adapter_params = {
}

load_params = {
    'load_type' : 'usd_to_eth', ## usd_to_eth or metrics
    'days' : 180, ## days as int
    'origin_keys' : None, ## origin_keys as list or None
    'metric_keys' : None, ## metric_keys as list or None
}

# initialize adapter
ad = AdapterSQL(adapter_params, db_connector)

# extract
df = ad.extract(load_params)
# # load
ad.load(df)

## S3

In [80]:
## connect to s3 bucket and output list of files
import pandas as pd
import boto3
import os

s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id=os.getenv("AWS_ACCESS_KEY_ID"),
    aws_secret_access_key=os.getenv("AWS_SECRET_ACCESS_KEY")
)

bucket = s3.Bucket('gtp-longterm')

## get list of files in bucket with last modified date
files = []
for obj in bucket.objects.all():
    files.append([obj.key, obj.last_modified])

df = pd.DataFrame(files, columns=['key', 'last_modified'])

## filter out files where key starts with 'imx'
df = df[~df.key.str.startswith('imx')]

df['chain'] = df.key.str.split('/').str[0]

## create new column block_range that extracts the string between 'tx_' and '.parquet' in the key column using lambda function
df['block_range'] = df.key.apply(lambda x: x[x.find('tx_')+3:x.find('.parquet')])
df['block_start'] = df.block_range.str.split('-').str[0].astype(int)
df['block_end'] = df.block_range.str.split('-').str[1].astype(int)

## sort by block_start
df.sort_values(by='block_start', inplace=True, ascending=True)

In [81]:
df

,key,last_modified,chain,block_range,block_start,block_end
13698,zksync_era/zksync_era_tx_1-47976.parquet,2023-05-17 16:26:49+00:00,zksync_era,1-47976,1,47976
10668,optimism/optimism_tx_1-25000.parquet,2023-06-15 18:28:49+00:00,optimism,1-25000,1,25000
13625,polygon_zkevm/polygon_zkevm_tx_2500-4999.parquet,2023-07-14 09:54:03+00:00,polygon_zkevm,2500-4999,2500,4999
13659,polygon_zkevm/polygon_zkevm_tx_5000-7499.parquet,2023-07-14 09:54:06+00:00,polygon_zkevm,5000-7499,5000,7499
13681,polygon_zkevm/polygon_zkevm_tx_7500-9999.parquet,2023-07-14 09:54:09+00:00,polygon_zkevm,7500-9999,7500,9999
...,...,...,...,...,...,...
2264,arbitrum/arbitrum_tx_110983046-110988045.parquet,2023-07-14 04:10:38+00:00,arbitrum,110983046-110988045,110983046,110988045
2265,arbitrum/arbitrum_tx_110988045-110993044.parquet,2023-07-14 04:11:29+00:00,arbitrum,110988045-110993044,110988045,110993044
2266,arbitrum/arbitrum_tx_110993044-110998043.parquet,2023-07-14 04:12:20+00:00,arbitrum,110993044-110998043,110993044,110998043
2267,arbitrum/arbitrum_tx_110998043-111003042.parquet,2023-07-14 04:13:13+00:00,arbitrum,110998043-111003042,110998043,111003042
2268,arbitrum/arbitrum_tx_111003042-111004002.parquet,2023-07-14 04:13:36+00:00,arbitrum,111003042-111004002,111003042,111004002

### Arbitrum

In [82]:
df_arbitrum = df[df.chain == 'arbitrum']

In [83]:
## load first file in df_arbitrum into df
df_arbitrum_flipside = pd.read_parquet(f"s3://gtp-longterm/{df_arbitrum.key.iloc[0]}")
df_arbitrum_flipside.head()

,BLOCK_NUMBER,BLOCK_TIMESTAMP,BLOCK_HASH,TX_HASH,NONCE,POSITION,ORIGIN_FUNCTION_SIGNATURE,FROM_ADDRESS,TO_ADDRESS,ETH_VALUE,TX_FEE,GAS_PRICE_BID,GAS_PRICE_PAID,GAS_LIMIT,GAS_USED,CUMULATIVE_GAS_USED,INPUT_DATA,STATUS
0,10017943,2022-04-18 08:37:35,0x3fafc29363ac9b58453e1070ea58d0189697996e2389...,0x15b029cf42766e58f63475fa9991c4ccbbfcb1145332...,4,0,0x06e75722,0x25de385f31256e7b34461541c70f49a609b6f089,0xe8c97bf6d084880de38aec1a56d97ed9fdfa0c9b,0.0,0.000306,2.000000,0.314343,2512824,972437,34037,0x06e75722000000000000000000000000ff970a61a04b...,SUCCESS
1,10008558,2022-04-18 04:58:20,0xd681a60fc3930991d69b881b651f78a54ed6c25be6b6...,0x805247e4d2e46c1c5c860efeef36166c3f350cd73624...,1507,0,0x7dbdc226,0x145527f8116c5c67adcdf00cfef7ae5c6ef8a7b9,0x146c57abb43a5b457cd8e109d35ac27057a672e2,0.0,0.000185,0.387530,0.310024,2000000,598228,35188,0x7dbdc22600000000000000000000000082af49447d8a...,SUCCESS
2,10020947,2022-04-18 09:54:15,0xf3debbd107a2f62bdd3359018450af4bfd67c4bfd7cd...,0xa455cd9caf3ed8a34bb73756fdc6a8e2a72fa8c784c3...,0,0,0x095ea7b3,0x80337b6d38413f56cdac6c55ec35918fd5a96c76,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,0.0,0.000177,0.389481,0.311585,649696,569418,51458,0x095ea7b300000000000000000000000010541b07d8ad...,SUCCESS
3,10009221,2022-04-18 05:12:04,0xaf924df86fdfcc2f6a44d2f015817b36b86d6228e0c9...,0xa603f3192b7b82c9072468c86c19b3fb5b929d07494e...,19,0,0x7c025200,0xf8b8193d01f706cc23074a3b9b0dccff6813964e,0x1111111254fb6c44bac0bed2854e76f90643097d,0.0,0.000862,0.387530,0.310024,3243160,2780409,34209,0x7c02520000000000000000000000000026271dfddbd2...,SUCCESS
4,10000917,2022-04-18 01:58:44,0x735cdc208c1e3228963eb27f41403293a352285a0faa...,0x77461259e63a324217e699b52dea233f946de2da3fd6...,36,0,0x3e3a1560,0x0e72a4457ced0d96f8d7108bd733110d87c12ceb,0x9dd329f5411466d9e0c488ff72519ca9fef0cb40,0.0,0.000179,0.373558,0.298847,682304,600437,90297,0x3e3a1560000000000000000000000000000000000000...,SUCCESS

In [84]:
## load first file in df_arbitrum with block_start >= 96528665 into df
df_arbitrum_chainbase = pd.read_parquet(f"s3://gtp-longterm/{df_arbitrum[df_arbitrum.block_start >= 96528665].key.iloc[10]}")
df_arbitrum_chainbase.head()

,block_hash,block_number,block_timestamp,cumulative_gas_used,eth_value,from_address,gas_limit,gas_price_bid,gas_price_paid,gas_used,input_data,nonce,position,status,to_address,tx_fee,tx_hash
0,0x9852f821fb4467d57b8ea8c12ce0d9376b31a65ff6fc...,96582512,2023-06-01 05:29:24,0,0,0x00000000000000000000000000000000000a4b05,0,0,100000000,0,0x6bf6a42d000000000000000000000000000000000000...,0,0,1,0x00000000000000000000000000000000000a4b05,0.000000,0x9aab94de556970b58a156847d452bc2a0214c59384f7...
1,0x9852f821fb4467d57b8ea8c12ce0d9376b31a65ff6fc...,96582512,2023-06-01 05:29:24,3345431,30560000000000000,0x51abaff4ad9c58329add4f699af29603ae0c9028,3855616,100000000,100000000,3345431,0x0000000a545ebbb0000000000000000000000000eeee...,40,1,1,0x3a23f943181408eac424116af7b7790c94cb97a5,0.000335,0x6b5140d63eeccb1f97a4e170acb7ff3b36e85612e7fe...
2,0xf28f63344dc5afd5f3dc72abbc79aea6e66e85f290af...,96582513,2023-06-01 05:29:24,0,0,0x00000000000000000000000000000000000a4b05,0,0,100000000,0,0x6bf6a42d000000000000000000000000000000000000...,0,0,1,0x00000000000000000000000000000000000a4b05,0.000000,0xc449818b722f9012affca4a556d3f128ebcf70e99cb3...
3,0xf28f63344dc5afd5f3dc72abbc79aea6e66e85f290af...,96582513,2023-06-01 05:29:24,484614,43994000000009001,0xb1ffaa6234a47b1fe528d81cf8ecaf0ed8c91520,661416,100000000,100000000,484614,0x,10,1,1,0xe4edb277e41dc89ab076a1f049f4a3efa700bce8,0.000048,0x321523fa7e87cbb91d99d8b5454cf86536ed86cdf2ef...
4,0x853f8dcd3fe94792ab9f2bb02305e2feb5edb7eee17b...,96582514,2023-06-01 05:29:24,0,0,0x00000000000000000000000000000000000a4b05,0,0,100000000,0,0x6bf6a42d000000000000000000000000000000000000...,0,0,1,0x00000000000000000000000000000000000a4b05,0.000000,0xceee7a315e07c6341170642d6baad082b347d61943ff...

### Optimism

In [ ]:
df_optimism = df[df.chain == 'optimism']

In [ ]:
## load first file in df_arbitrum into df
df_optimism_flipside = pd.read_parquet(f"s3://gtp-longterm/{df_optimism.key.iloc[0]}")
df_optimism_flipside.head()

In [ ]:
## load first file in df_arbitrum with block_start >= 96528665 into df
df_optimism_chainbase = pd.read_parquet(f"s3://gtp-longterm/{df_optimism[df_optimism.block_start >= 103428989].key.iloc[0]}")
df_optimism_chainbase.head()

### Polygon zkEVM

In [85]:
df_polygon = df[df.chain == 'polygon_zkevm']

In [86]:
## load first file in df_arbitrum into df
df_polygon_zb = pd.read_parquet(f"s3://gtp-longterm/{df_polygon.key.iloc[0]}")
df_polygon_zb.head()

,"[""hash""",nonce,block_hash,block_number,transaction_index,from_address,to_address,value,type,gas_limit,...,func_name,func_signature,block_time,status,gas_used,cumulative_gas_used,receipt_contract_address,decoded_from_abi,process_time,data_creation_date]
0,"[""0x8896caf5df3d7c3d514f25d6703e4caf6f433699be...",8,0x6cae5a3421113b4a61ee59a7cd433e1f9c1b8604789d...,21,0,0x5fdfa0558e0e2c69811b340b6c1ee80502a0a59a,0x79b040fa8178f568a8428c38cd22270550114c83,0,0x0,223272,...,NaN,NaN,2023-03-24 19:11:01.000000 UTC,1,145204,145204,None,NaN,2023-03-27 19:14:27.000000 UTC,2023-03-24]
1,"[""0x9c8260ba7d6da672c5a65197a5b2c768d734d132ea...",0,0x4350e086da007006da4820a6eb92dfa529daeec06254...,12,0,0x9c6e26b5b54c0cb5e5ac540db924352d970d4c73,0x2a3dd3eb832af982ec71669e178424b10dca2ede,0,0x0,1500000,...,NaN,NaN,2023-03-24 18:08:21.000000 UTC,1,90569,90569,None,NaN,2023-03-27 19:14:27.000000 UTC,2023-03-24]
2,"[""0x21d71dd966433d4cf094b80aa3e64eb83535d13620...",4,0xd358b169ea6ac6800a21e764b9fbec46fc4c71d9b440...,17,0,0x5fdfa0558e0e2c69811b340b6c1ee80502a0a59a,0x79b040fa8178f568a8428c38cd22270550114c83,0,0x0,223272,...,NaN,NaN,2023-03-24 19:11:01.000000 UTC,1,145204,145204,None,NaN,2023-03-27 19:14:27.000000 UTC,2023-03-24]
3,"[""0x3295f2b5ca7b156cf4eb3b4a73a92318d9c53ebc4a...",1,0x5270e71893336bc7e1569935ec74544b8ace10f68442...,2,0,0x1dba1131000664b884a1ba238464159892252d3a,0x1dba1131000664b884a1ba238464159892252d3a,0,0x0,37902,...,NaN,NaN,2023-03-24 17:30:15.000000 UTC,1,21272,21272,None,NaN,2023-03-27 19:14:27.000000 UTC,2023-03-24]
4,"[""0xc8d89fa98d129337237d5c9968e35e0ea669fa6c15...",7,0x08dd5e2be121d6d1b261b2aceacb49d4fb5e3ec28ab8...,20,0,0x5fdfa0558e0e2c69811b340b6c1ee80502a0a59a,0x79b040fa8178f568a8428c38cd22270550114c83,0,0x0,223272,...,NaN,NaN,2023-03-24 19:11:01.000000 UTC,1,145204,145204,None,NaN,2023-03-27 19:14:27.000000 UTC,2023-03-24]

Index(['["hash"', 'nonce', 'block_hash', 'block_number', 'transaction_index',
       'from_address', 'to_address', 'value', 'type', 'gas_limit', 'gas_price',
       'base_fee_per_gas', 'max_fee_per_gas', 'max_priority_fee_per_gas',
       'func_name', 'func_signature', 'block_time', 'status', 'gas_used',
       'cumulative_gas_used', 'receipt_contract_address', 'decoded_from_abi',
       'process_time', 'data_creation_date]'],
      dtype='object')

### zkSync Era

In [ ]:
df_zksync = df[df.chain == 'zksync_era']

In [ ]:
## load first file in df_arbitrum into df
df_zksync_zb = pd.read_parquet(f"s3://gtp-longterm/{df_zksync.key.iloc[0]}")
df_zksync_zb.head()

In [ ]:
# ## rename files in S3 bucket that contain 'block_'
# for index, row in df[df.key.str.contains('block_')].iterrows():
#     print(row['key'])
#     old_key = row['key']
#     new_key = old_key.replace('block_', '')
#     print(new_key)
#     s3.Object('gtp-longterm', new_key).copy_from(CopySource='gtp-longterm/'+old_key)
#     #s3.Object('gtp-longterm', old_key).delete()

In [ ]:
df_arbitrum[df_arbitrum.block_start >= 96528665].sort_values(by='last_modified', ascending=True)